<div class="body-container">
    <img class="background-1" src={{background_1}} />
    <img class="background-2" src={{background_2}} />
    <img class="background-3" src={{background_2}} />
    <img class="background-4" src={{background_5}} />
    <img class="process-list" src={{process_list}} />
    <div class="card-view">
        <h2>Where are you <b style="color: #6C63FF;">currently in the education system?</b></h2>
        <form>
            <b style="position: absolute; top: 163px; left: 142px; width: 167px; height: 33px; font-family: Roboto Regular ;">School Student</b>
            <input type="radio" style="position:absolute; top: 165px; left: 270px; width: 12px; height: 12px; cursor: pointer;">
            <input type="text" placeholder="Your School Name" style="position:absolute; top: 162px; left: 330px; width: 157px; height: 20px;">
            <select style="position:absolute; top: 162px; left: 550px; width: 157px; height: 25px; cursor: pointer;">
                <option selected disabled>Select Your Standard</option>
                <option>7th Standard</option>
                <option>8th Standard</option>
                <option>9th Standard</option>
                <option>10th Standard</option>
                <option>11th Standard</option>
                <option>12th Standard</option>
                <option>High School Graduate</option>
            </select>
            
            <b style="position: absolute; top: 245px; left: 142px; width: 167px; height: 33px; font-family: Roboto Regular ;">College Student</b>
            <input type="radio" style="position:absolute; top: 245px; left: 270px; width: 12px; height: 12px; cursor:pointer;">
            <input type="text" placeholder="Your College Name" style="position:absolute; top: 245px; left: 330px; width: 157px; height: 20px;">
            <input type="text" placeholder="Whats your major?" style="position:absolute; top: 245px; left: 550px; width: 157px; height: 25px;">
            <button class="form-btn">NEXT</button>
            <p><b>NOTE:</b> Choose the last institute attended if not enrolled in one currently</p>
        </form>
    </div>
</div>