<div class="body-container">
        <div class="header-container">
            <nav class="header-nav">
                <img class="header-logo" src={{headerlogo}} />
                <a class="a-mentor">MENTOR</a>
                <a class="a-networks">NETWORKS</a>
                <img class="header-profile-img" src={{headerprofile}}/> <a class ="a-profile">PROFILE</a>          
            </nav>
        </div>
        <div class="body-left">
                <img class="process-list" src={{processlist}} />
                <h3 class="process-list-1">UPDATE INFO</h3>
                <h3 class="process-list-2" style="color: #F94525;">CAREER VALIDATION</h3>
                <h3 class="process-list-3">ADVANCED INFO</h3>
                <h3 class="process-list-4">CONNECT TO MENTOR</h3>
                <h3 class="process-list-5">USER DASHBORD</h3>
        </div>
        <div class="body-right">
            <h2>Validate your choices with the following industry experts</h2>

            <div class="card-1">
                <img class="card-profile-img" src={{card1_profile_img}} />
                <h2 style="font-size:30px">John Carter</h2>
                <h6>Profile Position, <a style="color: #F94525;">Company</a></h6>
                <div class="card-profile-details">
                    <img class="card-location-icon" src={{location_icon}} />
                    <a style="position:absolute; top:10px; left:25px; font-family:Roboto;">Location</a>
                    <img class="card-work-icon" src={{work_icon}} />
                    <a style="position:absolute; top:10px; left:240px; font-family:Roboto;">Work Profile</a> 
                    <img class="card-exp-icon" src={{exp_icon}} />
                    <a style="position:absolute; top:10px; left:445px; font-family:Roboto;">'x' Year of Experience</a>
                </div>
                <div class="card-profile-about">This is where the detials of the validator will be shown. All the things he write about himself. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Aliquam egestas, velit at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Aliquam egestas, velit at.</div>
                <div class="card-profile-skills">
                    <div class="skill-1"><a style="position: relative; top:10px; font-family: Roboto;">Skill 1</a></div>
                    <div class="skill-2"><a style="position: relative; top:10px; font-family: Roboto;">Skill 2</a></div>
                    <div class="skill-3"><a style="position: relative; top:10px; font-family: Roboto;">Skill 3</a></div>
                    <div class="skill-4"><a style="position: relative; top:10px; font-family: Roboto;">Skill 4</a></div>
                </div>
            </div>
            <div class="card1-control">
                <div class="card-consult">
                    <span class="dot"></span>
                    <h6>Schedule Call</h6>
                    <img class="card1-free-icon" src={{free_icon}} />
                </div>
                
                <button class="card-control-btn">View Profile</button>   
            </div>

            <div class="card-2">
                <img class="card-profile-img" src={{card2_profile_img}} />
                <h2 style="font-size:30px">Natallie Miller</h2>
                <h6>Profile Position, <a style="color: #F94525;">Company</a></h6>
                <div class="card-profile-details">
                    <img class="card-location-icon" src={{location_icon}} />
                    <a style="position:absolute; top:10px; left:25px; font-family:Roboto;">Location</a>
                    <img class="card-work-icon" src={{work_icon}} />
                    <a style="position:absolute; top:10px; left:240px; font-family:Roboto;">Work Profile</a> 
                    <img class="card-exp-icon" src={{exp_icon}} />
                    <a style="position:absolute; top:10px; left:445px; font-family:Roboto;">'x' Year of Experience</a>
                </div>
                <div class="card-profile-about">This is where the detials of the validator will be shown. All the things he write about himself. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Aliquam egestas, velit at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Aliquam egestas, velit at.</div>
                <div class="card-profile-skills">
                    <div class="skill-1"><a style="position: relative; top:10px; font-family: Roboto;">Skill 1</a></div>
                    <div class="skill-2"><a style="position: relative; top:10px; font-family: Roboto;">Skill 2</a></div>
                    <div class="skill-3"><a style="position: relative; top:10px; font-family: Roboto;">Skill 3</a></div>
                    <div class="skill-4"><a style="position: relative; top:10px; font-family: Roboto;">Skill 4</a></div>
                </div>
            </div>
            <div class="card2-control">
                <div class="card-consult">
                    <span class="dot"></span>
                    <h6>Schedule Call</h6>
                </div>
                <button class="card-control-btn">View Profile</button>  
            </div>

            <div class="card-3">
                <img class="card-profile-img" src={{card3_profile_img}} />
                <h2 style="font-size:30px">David Milson</h2>
                <h6>Profile Position, <a style="color: #F94525;">Company</a></h6>
                <div class="card-profile-details">
                    <img class="card-location-icon" src={{location_icon}} />
                    <a style="position:absolute; top:10px; left:25px; font-family:Roboto;">Location</a>
                    <img class="card-work-icon" src={{work_icon}} />
                    <a style="position:absolute; top:10px; left:240px; font-family:Roboto;">Work Profile</a> 
                    <img class="card-exp-icon" src={{exp_icon}} />
                    <a style="position:absolute; top:10px; left:445px; font-family:Roboto;">'x' Year of Experience</a>
                </div>
                <div class="card-profile-about">This is where the detials of the validator will be shown. All the things he write about himself. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Aliquam egestas, velit at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Aliquam egestas, velit at.</div>
                <div class="card-profile-skills">
                    <div class="skill-1"><a style="position: relative; top:10px; font-family: Roboto;">Skill 1</a></div>
                    <div class="skill-2"><a style="position: relative; top:10px; font-family: Roboto;">Skill 2</a></div>
                    <div class="skill-3"><a style="position: relative; top:10px; font-family: Roboto;">Skill 3</a></div>
                    <div class="skill-4"><a style="position: relative; top:10px; font-family: Roboto;">Skill 4</a></div>
                </div>
            </div>
            <div class="card3-control">
                <div class="card-consult">
                    <span class="dot"></span>
                    <h6>Schedule Call</h6>
                </div>
                <button class="card-control-btn">View Profile</button> 
            </div>

            <p>Before commiting to a career choice make sure you have validated it well</p>

            <button class="proceed-btn">Proceed to find a Mentor</button>
                
        </div>

        
        
    
    </div>
    