<div class="body-container">
        <img class="background-1" src={{background_1}} />
        <img class="background-2" src={{background_2}} />
        <img class="background-3" src={{background_2}} />
        <img class="background-4" src={{background_4}} />
        <img class="process-list" src={{process_list}} />
        <div class="card-view">
            <h2>Congrats, <b style="color: #6C63FF;">Snehil Vaidh!</b> You are all set up</h2>
            <img class="profile-img" src={{profile_img}} />
            <h3>Snehil Vaidh</h3>
            <p>Bachelour in Computer Science, IIT Guwahati</p>
            <button class="btn">NEXT</button>
        </div>
</div>