<div class="body-container">
    <div class="header-container">
        <nav class="header-nav">
            <img class="header-logo" src={{headerlogo}} />
            <a class="a-mentor">MENTOR</a>
            <a class="a-networks">NETWORKS</a>
            <img class="header-profile-img" src={{headerprofile}}/> <a class ="a-profile">PROFILE</a>          
        </nav>
    </div>
    <div class="body-left">
            <img class="process-list" src={{processlist}} />
            <h3 class="process-list-1" style="color: #F94525;">UPDATE INFO</h3>
            <h3 class="process-list-2">CAREER VALIDATION</h3>
            <h3 class="process-list-3">ADVANCED INFO</h3>
            <h3 class="process-list-4">CONNECT TO MENTOR</h3>
            <h3 class="process-list-5">USER DASHBORD</h3>
    </div>
    <div class="body-right">
            <div class="card-1">
                <img class="card1-profile-img" src={{card_profile_img}} />
                <div class="card1-info">
                    <a style="font-size:25px; color: #393838;"><b>Snehil Vaidh</b></a><br/>
                    <a style="color:#3F3D56; font-size: 12px;">Bachelor of Technology, Computer Science, IIT Guwahati</a>
                </div>
                <img class="card1-facebook" src={{card_facebook}} />
                <img class="card1-linkedin" src={{card_linkedin}} />
            </div>

            <div class="card-2">
                <h3 style="position: absolute; margin-left:55px; color:#3F3D56;">Summary</h3>
                <div class="card2-about">
                    <img class="card2-about-img" src={{card2_about_img}} />
                    <img class="card2-about-edit-img" src={{card2_edit_img}} />
                    <h3>ABOUT</h3>
                    <p>This is where you put about yourself. It should be easy to read and totally professional. It should help mentors get to know you.</p>
                </div>
                <div class="card2-education">
                        <img class="card2-education-img" src={{card2_education_img}} />
                        <img class="card2-education-edit-img" src={{card2_edit_img}} />
                        <h3>EDUCATION</h3>
                        <h4>Name of the School or College</h4>
                        <p>This is where you put about you education. What are you majoring in? What else you have been a part of in your education institute.</p>
                </div>
                <div class="card2-interests">
                        <img class="card2-interests-img" src={{card2_interests_img}} />
                        <h3>INTERESTS</h3>
                        <p>Choose your intrests wisely form the fields above in priority. You will be allocated<b> Career Validaters</b> in the next step accoridng to your choice in order.</p>
                        <form action="">
                            <select name="career-choice-1" id="career1" class="card2-interests-career-1" >
                                <option selected disabled>1st Preference</option>
                                <option value="Engineering">Engineering</option>
                                <option value="Medical">Medical</option>
                                <option value="Management">Management</option>
                                <option value="Military">Military</option>
                                <option value="Law">Law</option>
                            </select>
                            <select name="career-choice-2" id="career2" class="card2-interests-career-2" >
                                <option selected disabled>2nd Preference</option>
                                <option value="Engineering">Engineering</option>
                                <option value="Medical">Medical</option>
                                <option value="Management">Management</option>
                                <option value="Military">Military</option>
                                <option value="Law">Law</option>
                            </select>
                            <select name="career-choice-3" id="career3" class="card2-interests-career-3" >
                                <option selected disabled>3rd Preference</option>
                                <option value="Engineering">Engineering</option>
                                <option value="Medical">Medical</option>
                                <option value="Management">Management</option>
                                <option value="Military">Military</option>
                                <option value="Law">Law</option>
                            </select>
                            <button class="card2-interests-btn">SUBMIT</button>
                        </form>
                        
                </div>
            </div>
            
    </div>
    
    

</div>
